<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GLFW OpenGL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B56EFCCB1F90882F0092186E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B56EFCD31F9088B60092186E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5F27EE81F8D52830075E0D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
